@using DoctorAppointment.Domain.Enums
@using System.ComponentModel.DataAnnotations
@{
    Layout = "_Layout";
}

<!-- Popular Specialties Section -->
<div class="container my-5">
    <h2 class="mb-4">Chuyên khoa phổ biến</h2>
    <div class="row">
        @foreach (Specialization specialization in Enum.GetValues(typeof(Specialization)))
        {
            var displayName = GetEnumDisplayName(specialization);
            var image = GetImageUrl(specialization);

            <div class="col-md-3">
                <a class="card text-decoration-none" style="cursor: pointer;" href="@Url.Action("Doctors", "Home", new { specialization = specialization })">
                    <img src="@Url.Content(image)" class="card-img-top" alt="@displayName">
                    <div class="card-body text-center">
                        <p class="card-text text-decoration-none">@displayName</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

@functions {
    private string GetEnumDisplayName(Specialization specialization)
    {
        var fieldInfo = specialization.GetType().GetField(specialization.ToString());
        var attribute = (DisplayAttribute)Attribute.GetCustomAttribute(fieldInfo, typeof(DisplayAttribute));
        return attribute?.Name ?? specialization.ToString();
    }

    private string GetImageUrl(Specialization specialization)
    {
        return specialization switch
        {
            Specialization.GeneralPractitioner => "~/img/da-khoa.png",
            Specialization.Cardiologist => "~/img/tim-mach.png",
            Specialization.Dermatologist => "~/img/da-lieu.png",
            Specialization.Neurologist => "~/img/than-kinh.png",
            Specialization.Pediatrician => "~/img/nhi-khoa.png",
            _ => "~/img/default.png"
        };
    }
}