@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Xác nhận quên mật khẩu";
}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Kiểm tra Email của bạn</h1>
    <p class="mb-4">Nếu tài khoản tồn tại với email bạn đã cung cấp, chúng tôi đã gửi hướng dẫn đặt lại mật khẩu.</p>
    <hr>
    <div class="text-center">
        <a class="small" asp-action="Login">Quay lại đăng nhập</a>
    </div>
</div>