@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Forgot Password";
    ViewData["Greeting"] = "Forgot Your Password?";
}
@model ForgotPasswordModel

<form asp-action="ForgotPassword" asp-controller="Auth" method="post" class="user">
    <div class="form-group">
        <input asp-for="Email" type="email" class="form-control form-control-user"
               placeholder="Enter Email Address...">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-user btn-block">
        Reset Password
    </button>
    <hr>
    <div class="text-center">
        <a class="small" asp-action="Login">Back to Login</a>
    </div>
</form>

@section Scripts {
    @if (ViewData.ModelState.ContainsKey("Error") && ViewData.ModelState["Error"].Errors.Count > 0)
    {
        var errorMessage = ViewData.ModelState["Error"].Errors[0].ErrorMessage;
        <text>
            <script>
                alert("Error: @Html.Raw(System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(errorMessage))");
            </script>
        </text>
    }
}