@model DoctorViewModel
@using DoctorAppointment.Domain.Enums
<div class="modal fade" id="updateDoctorModal" tabindex="-1" role="dialog" aria-labelledby="updateDoctorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateDoctorModalLabel">Add Doctor</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UpdateDoctor" method="post" id="UpdateDoctorForm">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input asp-for="UserId" type="hidden" />
                    </div>
                    <div class="form-group">
                        <input asp-for="Id" type="hidden" />
                    </div>
                    <div class="form-group">
                        <input asp-for="User.Id" type="hidden" />
                    </div>

                    <div class="form-group">
                        <label asp-for="User.FullName" class="control-label"></label>
                        <input asp-for="User.FullName" class="form-control" />
                        <span asp-validation-for="User.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Specialization" class="control-label"></label>
                        <select asp-for="Specialization" class="form-control" asp-items="Html.GetEnumSelectList<Specialization>()">
                            <option value="" disabled selected>Select Specialization</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="YearsOfExperience" class="control-label"></label>
                        <input asp-for="YearsOfExperience" class="form-control" />
                        <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.DateOfBirth" class="control-label"></label>
                        <input asp-for="User.DateOfBirth" class="form-control" />
                        <span asp-validation-for="User.DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Address" class="control-label"></label>
                        <input asp-for="User.Address" class="form-control" />
                        <span asp-validation-for="User.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.PhoneNumber" class="control-label"></label>
                        <input asp-for="User.PhoneNumber" class="form-control" />
                        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Gender" class="control-label"></label>
                        <select asp-for="User.Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                            <option value="" disabled selected>Giớ<i> tính</i></option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
